*, a {
    font-size: 1em;
    text-decoration: none;
    color: black;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
}

a:hover {
    color: #0065FC;
}

p {
    margin: 5px;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
}

header ul {
    display: flex;
    padding: 0;
    margin: 0 0 0 auto;
    color: #0065fc;
}

header ul li a:hover {
    border-top: 5px solid #0065fc;
    margin-top: -60px;
    padding-top: 32px;
    color: #0065fc;
}

header ul li {
    margin-left: 25px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: end;
    width: auto;
    margin: 10px;
    padding: 10px;
}

button {
    background-color: #0065fc;
    border: none;
    padding: 15px 15px;
    border-radius: 0 10px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin: 0 -50px;
}

input {
    border-radius: 5px;
    font-weight: bold;
    border-right: none;
    border-left: none;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    padding: 0 1.5em;
    width: auto;
    height: 50px;
    font-size: 15px;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.pb-4 {
    padding-top: 1rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-3 {
    padding-top: 0.75rem;
}

.pt-4 {
    padding-top: 1rem;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 0.75rem;
}

.m-4 {
    margin: 1rem;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

.mr-4 {
    margin-right: 1rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 0.75rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.container {
    box-sizing: content-box;
    margin: auto;
    width: 98%;
}

.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.logo {
    cursor: pointer;
    height: 50px;
    width: fit-content;
    margin-left: 15px;
    text-align: start;
}

.navbar_header {
    display: flex;
    margin-right: 2%;
}

.navbar_header ul, li {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    text-align: center;
    width: 200px;
}

.subtext {
    margin-bottom: 5px;
}

.filters {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
}

.title_filters {
    font-size: 1.3em;
    margin: 0 20px 0 0;
}

.titre {
    font-weight: bold;
    padding-right: 1.5em;
    padding-left: 0.5em;
    cursor: pointer;
}

.bar_filter:hover {
    background: #0065fc;
    color: #fff;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.bar_filter {
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 2em;
    border: 2px solid #d9d9d9;
    border-radius: 2em;
    font-weight: bold;
}

.img_filter {
    padding: 15px 15px;
    border-radius: 50%;
    background-color: #DEEBFF;
    cursor: pointer;
}

.fa-map-marker-alt {
    color: black;
}

.logo_search {
    display: inline-flex;
    margin-top: 50px;
    align-items: center;
}

.search_button {
    border-radius: 0 18px 18px 0;
    padding: 15px;
    background-color: #0065fc;
    color: white;
    right: 43px;
}

.search_button:hover {
    border-radius: 0 18px 18px 0;
    padding: 15px;
    background-color: #0065fc;
    color: black;
    right: 43px;
}

.loupelogo i {
    display: none;
}

.icon_map {
    font-size: 25px;
    background-color: #f2f2f2;
    border-radius: 1rem 0 0 1rem;
    padding: 10px 10px;
    width: 30px;
    text-align: center;
}


.grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bggrey {
    border-radius: 20px;
    background-color: #F2F2F2;
}

.col-w-100 {
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 0;
}

.col-w-70 {
    width: 68%;
    height: auto;
    margin: 0;
    padding: 0;
}

.col-w-60 {
    width: 56%;
    margin: 0;
    padding: 0;
}

.col-w-30 {
    width: 28%;
    height: auto;
    margin: 0;
    padding: 0;
}

.col-w-20 {
    width: 16%;
    height: auto;
    margin: 0;
    padding: 0;
}

.col-w-33 {
    width: 31%;
}

.col-w-25 {
    max-width: 23%;
    align-items: center;
    margin: 0;
    padding: 0;
}

.col-h-100 {
    min-height: 100%;
}

.col-h-80 {
    height: 80%;
}

.col-h-60 {
    height: 60%;
}

.col-h-50 {
    height: 50%
}

.col-h-40 {
    height: 40%;
}

.col-h-20 {
    height: 20%;
}

.align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.row{
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.lodging {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
}

.lodging-pop {
    display: flex;
    justify-content: stretch;
    align-items: center;
    align-content: start;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    padding: 0;
}

.ratio{
    aspect-ratio: 16/9;
}

.fas {
    color: #0065fc;
}

.end{
    text-align: end;
}

.black {
    color: black;
}

.info {
    display: flex;
    justify-content: start;
    align-items: center;
}

.info_text {
    text-align: start;
}

.fa-info {
    text-align: center;
    padding: 2px;
    width: 25px;
    height: 25px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    border-radius: 20px;
    padding: 5px;
}

.cards-pop {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.etoiles {
    margin: 3px 10px;
}

.fa-chart-line {
    display: flex;
    justify-content: end;
}

.grey {
    color: #d9d9d9;
}

.img_hotel {
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

.img_hotel-pop {
    justify-content: start;
    width: 40%;
    height: 175px;
    border-radius: 20px 0 0 20px;
    padding: 5px;
}

.activities {
    display: flex;
    justify-content: space-around;
}

.activities_cards {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    border-radius: 20px;
}

.img_activity {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.img_activity-h-80 {
    width: 100%;
    max-height: 60%;
    border-radius: 20px 20px 0 0;
}

.img_activity-h-60 {
    width: 100%;
    max-height: 60%;
    border-radius: 20px 20px 0 0;
}

.img_activity-h-40 {
    width: 100%;
    max-height: 40%;
    border-radius: 20px 20px 0 0;
}

.img_activity-h-50 {
    width: 100%;
    max-height: 50%;
    border-radius: 20px 20px 0 0;
}

footer {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    color: black;
    background-color: #F2F2F2;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 767px) {

}


